@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/JetBrainsMono.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "JetBrains Mono";
}

body {
  background: #3c3c4f;
  color: #cedced;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 1rem;
  border: 2px solid #cedced;
  width: 33%;
  position: relative;
}

.container::after {
  position: absolute;
  content: "contact";
  top: -7%;
  padding: 0 5px;
  background: #3c3c4f;
  left: 2%;
}

.container img {
  max-width: 128px;
}

.contact-things {
  margin-top: 15px;
}

.line-break {
  position: absolute;
  width: 100%;
  height: 2px;
  background: #cedced;
  left: 0;
  margin: 10px 0;
}

body > div {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

body > div > a {
  color: #ec9800;
  font-size: 1.25rem;
  text-decoration: none;
}


a {
  text-decoration: none;
  color: inherit; /* Utilise la couleur du texte parent */
}
